<div class="language-content">
    <a nz-dropdown [nzDropdownMenu]="menu">
        <nz-avatar
            [ngStyle]="languageColor"
            [nzText]="currentLang | uppercase"
            nzSize="small"
            style="vertical-align: middle;">
        </nz-avatar>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul class="language-dropdown" nz-menu>
        <li nz-menu-item *ngFor="let language of languages" (click)="languageSelection(language)">
            <img class="language-icon" [src]="language.src">
        </li>
        </ul>
    </nz-dropdown-menu>
</div>