@import "variables";
.inner-content {
  padding: 24px;
  min-height: 280px;
  display: flex;
  flex-direction: column;

  .group-edit-buttons {
    margin-bottom: 24px;
    .flex-button {
      margin-right: 1rem;
    }
  }
}

.ant-list-split .ant-list-item {
  border: none;
}

.ant-list-item {
  display: flex;
  align-items: center;
  padding: 0;
}

nz-collapse {
  width: 100%;
  .badge-container {
    display: flex;
    align-items: center;
    .badge-space {
      margin-bottom: 1rem;
    }
  }
}