<div class="inner-content">
    <div class="group-edit-buttons">
        <button class="flex-button" nz-button nzType="default">
            Create group
        </button>
        <button class="flex-button" nz-button nzType="default">
            Add users to a role
        </button>
    </div>
    <nz-list [nzDataSource]="userSource" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
        <ng-template #item let-item>
            <nz-list-item>
                <nz-collapse [nzBordered]="false">
                    <nz-collapse-panel [nzHeader]="item.name" [nzActive]="true">               
                        <p style="margin:0;">
                            {{item.description}}
                        </p>
                        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]='nzDescription'>
                            <ng-template #nzTitle>
                                <span class="role-description"> Showing {{item.totalCount}} of
                                    {{item.totalCount}}</span>
                                <span [ngStyle]="{'padding-left': '1rem', 'font-size':'16px', 'cursor': 'pointer'}">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span [ngStyle]="{'padding-left': '1rem', 'font-size':'16px', 'cursor': 'pointer'}">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </ng-template>
                            <ng-template #nzDescription>
                                <table class="table2">
                                    <thead>
                                        <tr>
                                            <th class="name-col">Name</th>
                                            <th class="email-col">Email</th>
                                            <th class="activity-col">Last activity</th>
                                            <th class="activity-col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of item.users">
                                            <td>
                                                <nz-avatar [ngStyle]="{ 'background-color': '#121212' }"
                                                    [nzText]="getShortName(user.name)" nzSize="large"
                                                    style="vertical-align: middle;"></nz-avatar>
                                                {{user.name}}
                                            </td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.lastActivity}}</td>
                                            <td class="actionElem">
        
                                                <a nz-dropdown [nzDropdownMenu]="menu">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </a>
                                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                                    <ul nz-menu>
                                                        <li nz-menu-item>Add user to group</li>
                                                        <li nz-menu-item>Remove from group</li>
                                                    </ul>
                                                </nz-dropdown-menu>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </nz-list-item-meta>
                    </nz-collapse-panel>
                </nz-collapse>
            </nz-list-item>
        </ng-template>
    </nz-list>
</div>