@import "variables";
.login-page {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  .login-form {
    padding-top: 1rem;
    min-width: 400px;
    .login-button {
      width: 50%;
      transform: translate(50%, 20%);
      border: 0px;
      border-radius: 1.5rem;
      background: $dark-blue;
      color: $white;
    }
    .register {
      position: absolute;
      display: inline;
      transform: translate(50%, 50%);
      padding-left: 1.2rem;
      padding-top: 1rem;
      font-size: 14px;
      left: 0;
    }
  }
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

input {
  text-align: left;
  border-radius: 1.5rem;
}

@media (max-width: 500px) {
  .login-form {
    min-width: 90%;
  }
}
