@import "variables";
.login-page {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  .login-form {
    padding-top: 1rem;
    min-width: 400px;
    .login-button {
      width: 50%;
      transform: translate(50%, 20%);
      border-radius: 1.5rem;
      background: $blue;
      color: $white;
    }
  }
  .logo {
    height: 10rem;
    width: 10rem;
  }
}

input {
  text-align: left;
  border-radius: 1.5rem;
}

@media (max-width: 500px) {
  .login-form {
    min-width: 90%;
  }
}
