@import "variables";
@mixin toast-color($color) {
  background-color: $color;
  border-color: $color;
}
.toast-container {
  border: 1px solid;
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 1.6rem;
  text-align: start;
  position: absolute;
  color: #eff1f3;
  top: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}
// toast
.toast-info {
  @include toast-color($blue);
}
.toast-success {
  @include toast-color($green);
}
.toast-danger {
  @include toast-color($red);
}
.toast-warning {
  @include toast-color($orange);
}