@import "variables";
@mixin left-side-styles {
  box-shadow: -1px 3px 21px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 21px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 21px -2px rgba(0, 0, 0, 0.75);
  height: 100%;
  display: inline-block;
}
@mixin left-side-dark {
  background: $dark-blue;
  .moon-item {
    color: $orange;
  }
  .collapse-item {
    color: $orange;
  }
  .hamburger-container {
    color: $white;
  }
}
@mixin breadcrumb-color($color) {
  .ant-breadcrumb a {
    color: $color !important;
  } 
}
@mixin left-side-light {
  background: #ffff;
  .header-menu .application-logo {
    border: 0;
    color: $dark-blue;
  }
  .left-side-navigation .collapse-item,
  .hamburger-container {
    color: $blue;
  }
  .moon-item {
    color: $dark-blue;
  }
}
.whole-page {
  display: flex;
  min-height: 100vh;
  .content-space {
    &[class*="dark"] {
      @include breadcrumb-color($gray);
    }
    &[class*="light"] {
      @include breadcrumb-color($blue)
    }
    display: inline-block;
    padding: 15px 10px 10px 15px;
    width: calc(100vw - 150px);
  }
}

.left-side {
  width: 150px;
  @include left-side-styles();
  &[class*="dark"] {
    @include left-side-dark();
  }
  &[class*="light"] {
    @include left-side-light();
  }
  &-collapsed {
    width: 70px;
    @include left-side-styles();
    &[class*="dark"] {
      @include left-side-dark();
    }
    &[class*="light"] {
      @include left-side-light();
    }
  }
  &-navigation {
    .toggle {
      display: flex;
      color: $white;
      font-size: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}

.ant-menu-inline {
  &-collapsed {
    .menu-list-item.ant-menu-item {
      padding-left: 1.5rem!important;
    }
  }
}

/* Menu */
.ant-menu {
  transition: none !important;
  &[class*="dark"] {
    background: $dark-blue;
  }
  &[class*="light"] {
    background: #ffff;
  }
  .ant-menu-item {
    transition: none !important;
  }
}

.collapse-item {
  cursor: pointer;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

.toggle {
  .moon-item {
    cursor: pointer;
    padding-top: 0.6rem;
  }
}

.hamburger-container {
  display: none;
}

.header-menu {
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .application-logo {
    color: $white;
  }
}

/* Media styles */
@media screen and (max-width: 600px) {
  .whole-page {
    flex-direction: column;
    .content-space {
      min-width: 100vw;
      min-height: calc(100vh - 120px);
    }
  }
  .header-menu {
    padding: 20px;
  }
  .left-side,
  .left-side-collapsed {
    min-width: 100vw;
    height: auto;
  }
  .hamburger-container {
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    margin-left: auto;
  }
  .collapse-item {
    display: none;
  }
  .toggle {
    .moon-item {
      padding-top: 0.5rem;
    }
  }

  .ant-menu-inline {
    border: 0 !important;
  }
}
