/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "variables.scss";
@import '~normalize.css';

// body {
//     font-family: 'Montserrat', sans-serif;
//     margin: 0;
//     padding: 0;
//     min-height: 100%;
// }

ul {
    li {
        text-decoration-line: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

/* Links */
.active-link {
    color: $blue;
}

.active {
    color: $orange;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;

}

a:hover {
    color: $blue;
}

/* end links */
.left-side-navigation {
    ul li {
        padding: 15px 10px 15px 0px;
    }
}