.whole-page {
    display: flex;
    min-height: 100vh;
}

.scroll-top {
    position: fixed;
    right: 0;
    color: #FED766;
    padding: 15px;
    bottom: 10px;
    border: 0px;
    z-index: 1;
    background: none;
    margin-bottom: 10px;
    font-size: 30px;
}

.left-side {
    display: inline-block;
    width: 240px;
    box-shadow: -1px 3px 21px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 3px 21px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 21px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 21px -2px rgba(0,0,0,0.75);
}

.content-space {
    display:inline-block;
    padding: 15px 10px 10px 15px;
    width: calc(100vw - 240px);
}

@media screen and (max-width: 600px) {
    .whole-page {
        flex-direction:column;
    }
    .left-side {
        min-width:100vw;
    }
    .content-space {
        min-width:100vw;
        min-height: calc(100vh - 120px);
    }
}

