<div class="whole-page">
  <ng-container *ngIf="loggedIn">
    <app-left-side-navigation></app-left-side-navigation>
  </ng-container>
  <!--- Main App content-->
  <div class="content-space" [ngClass]="themeClass">
    <app-page-header-title></app-page-header-title>
    <ng-container *ngIf="toast$ | async as toast">
      <app-message-info [toast]="toast"></app-message-info>
    </ng-container>
    <div [@.disabled]="animationDisabled">
      <main [@routeAnimations]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </main>
    </div>
  </div>
</div>