<nav [ngClass]="menuStyles">
  <div class="left-side-navigation">
    <app-header-menu></app-header-menu>
    <div *ngIf="headerMenuComponent?.toggle" class="toggle">
      <span class="collapse-item" (click)="toggleCollapsed()">
        <i [ngClass]="toggleClass"></i>
      </span>
      <span class="moon-item" (click)="changeTheme()">
        <i [ngClass]="themeMode"></i>
      </span>
    </div>
    <nz-divider *ngIf="headerMenuComponent?.currentWidth > 600" #diver [style.backgroundColor]="dividerColor"></nz-divider>
    <ng-container *ngIf="headerMenuComponent?.toggle">
      <div class="main-navigation" role="navigation">
        <app-left-navigation [theme]="theme$ | async" [isCollapsed]="collapsed$ | async" (logout)="logout()">
        </app-left-navigation>
      </div>
    </ng-container>
  </div>
</nav>