@import "variables";

.application-logo {
  width: 100%;
  display: inline-block;
  margin: 15px 15px;
  max-width: 100px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .logo-section {
    text-align: left;
  }
}