<section class="navigation-wrapper">
  <ul [ngStyle]="menuListWidth" nz-menu nzMode="inline" nzTheme="{{theme}}" [nzInlineCollapsed]="isCollapsed">
    <li class="menu-list-item" nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="onLogout()">
      <span *ngIf="isCollapsed;else notCollapsed" class="menu-icon">
        <i class="fa fa-sign-out-alt"></i>
      </span>
      <ng-template #notCollapsed>
        {{ "nav.logout" | translate }}
      </ng-template>
    </li>
    <ng-container *ngFor="let item of menuItems">
      <li class="menu-list-item" nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter>
        <a *ngIf="isCollapsed;else menuItem" class="menu-icon" [routerLink]="[ item.url ]">
          <i class="{{item.icon}}"></i>
        </a>
        <ng-template #menuItem>
          <a [routerLink]="[ item.url ]"> {{ item.translation | translate }} </a>
        </ng-template>
      </li>
    </ng-container>
  </ul>
</section>