<section class="navigation-wrapper">
  <ul [ngStyle]="menuListWidth" nz-menu nzMode="inline" nzTheme="{{theme}}" [nzInlineCollapsed]="isCollapsed">
    <li class="menu-list-item" nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="onLogout()">
      <span *ngIf="isCollapsed;else notCollapsed" class="menu-icon">
        <i class="fa fa-sign-out-alt"></i>
      </span>
      <ng-template #notCollapsed>
        {{ "nav.logout" | translate }}
      </ng-template>
    </li>
    <li class="menu-list-item" nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter>
      <a *ngIf="isCollapsed;else dashboardCollapsed" class="menu-icon" [routerLink]="['/dashboard']">
        <i class="fas fa-clipboard"></i>
      </a>
      <ng-template #dashboardCollapsed>
        <a [routerLink]="['/dashboard']"> {{ "nav.dashboard" | translate }} </a>
      </ng-template>
    </li>
  </ul>
</section>